.fixed-sidebar {
  position: fixed;
}

/* .overlay {
    display: none;
    position: fixed;
    inset: 0;
    max-height: 100vh;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay.show {
    display: block;
  } */

.sidebar {
  background-color: white;
  color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 16rem;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.sidebar.md-relative {
  position: relative;
}

.sidebar-content {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  font-weight: 500;
  border-bottom: 1px solid #d1d5db;
  padding: 1rem;
  margin: 0 1rem;
}

.sidebar-logo {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

.sidebar-logo img {
  width: 50px;
}

.sidebar-logo span {
  padding-left: 1rem;
  font-size: 1.25rem;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.menu-list {
  padding: 1.25rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-weight: 500;
}
.top-menu {
  padding-bottom: 0px;
}
.sidebar-menu::-webkit-scrollbar {
  width: 8px;
}

.menu-list::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.menu-list::-webkit-scrollbar-thumb {
  background-color: #e5e7eb;
  border-radius: 10px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding-left: 1.25rem;
}

.menu-title {
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}

.menu-icon {
  margin-right: 0.5rem;
}

.menu-button {
  display: none;
  margin: 1rem;
}

.menu-button.show {
  display: block;
}
